.img-profile {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.img-show0 {
    width: 110px;
    height: 110px;
    border-radius: 10px 0px 0px 10px;
}

.img-show1 {
    width: 110px;
    height: 110px;
    /* border-radius: 10px; */
}

.img-show2 {
    width: 110px;
    height: 110px;
    border-radius: 0px 10px 10px 0px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

.fs-14 {
    font-size: 14px;
}